body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #fff;
}

main {
  max-width: 500px;
}

h1 {
  color: #ffb92f;
  font-family: monospace;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  background: #ffb92f;
  padding: 10px;
  border-radius: 8px;
  color: #2c1a03;
  font-family: monospace;
}
